*, *:before, *:after {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.book {
  float: left;
  padding: 20px;
  width: 50%;
  height: 200px;
  display: inline-block;
  color: white;
}

h2 {
  background-color: rgba(3, 2, 2, 0.5);
  padding: 10px;
}
